<p>not-found works!</p>

<ul>
    <li routerLink="/authLazy/login">
        Ir a Login
    </li>
    <li routerLink="/authLazy/enroll">
        Ir a Registro
    </li>
    <li>
        <a routerLink="/pokedex">
            Pokedex
        </a>
    </li>
    <li>
        <a routerLink="/pokedex/add">
            Agregar
        </a>
    </li>
    <li>
        <a routerLink="/pokedex/edit/1">
            Editar
        </a>
    </li>
    <li>
        <a routerLink="/pokedex/find">
            Buscar
        </a>
    </li>
    <li>
        <a routerLink="/pokedex/list">
            Lista
        </a>
    </li>
    <li>
        <a routerLink="/pokedex/pokemon/2">
            Pokemón
        </a>
    </li>
</ul>

<br>
<div class="form">
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" formControlName="username" class="form-control" autocomplete="new_username" placeholder="" />
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" formControlName="password" class="form-control" autocomplete="new_password" placeholder="" />
            </div>
            <button class="btn btn-primary" [disabled]="!loginForm.valid">
                Login
            </button>
            <div *ngIf="error" style="color:red;">
                {{ error }}
            </div>
        </form>
    </div>

    <br>

    <a routerLink="../..">
        Regresar 
    </a>
</div>

<br>
<button (click)="login()">
    Login
</button>
<br>
<br>
<button (click)="logout()">
    Logout
</button>
<p>
    {{ showSession() }}
</p>